ul {
  list-style-type: none;
}
ul.root-node {
  padding-left: 0;
}
li ul {
  padding-left: 20px;
}
span {
  user-select: none;
}
.expando {
  font-size: 0.8rem;
}
.tree-title {
  display: flex;
}
.tree-title span {
  margin-left: 5px;
}
.node-selected {
  color: red;
}
.tree-title > .tree-node-text {
  cursor: pointer;
  padding-left: 5px;
}
.icon {
  cursor: pointer;
}
.tree-node-text a {
  color: black;
}
