.header-tipo-asignatura {
    background: #c8e3fb;
    border: 1px solid;
    font-weight: bold;
    margin-bottom: 3px;
    padding: 2px 8px;
    display: flow-root;
}

.title-superado {
    font-size: 20px;
    font-weight: bold;
}

.fieldset-border {
    padding: 0 1.4em !important;
}

.title-reconocimiento {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;    
}

.reconocimiento {
    font-size: 12px;
    font-style: italic;    
}