<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="close" aria-describedby="modal-title" *ngIf="!onlyClose" (click)="cancelar(modal)">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="col">
            <div>{{confirmationMessage}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="right">
            <button class="btn btn-primary btn-sm mr-2" *ngIf="!onlyClose" (click)="confirmation(modal,$event)">{{confirmLabel}}</button>
            <button #btnCancelar class="btn btn-primary btn-sm" *ngIf="!onlyClose" (click)="cancelar(modal)">{{'common.cancelar' |  translate}}</button>
            <button class="btn btn-primary btn-sm" *ngIf="onlyClose" (click)="confirmation(modal,$event)">{{'common.cerrar' |  translate}}</button>
        </span>
    </div>
</ng-template>