.iconSize25 {
    font-size: 25px;
  }

  .iconSize25:hover {
    cursor: pointer;
  }

.va-b {
  vertical-align: bottom;
}

.al-end {
  align-items: end;
}

.al-center {
  align-items: center;
}

.isEstadoNoProcesada {
  color: gray;
}

.isEstadoValidada {
  color: #00a65a;
}

.isEstadoPendiente {
  color: orange;
}

.isEstadoRechazada {
  color: #dd4b39;
}

.sizeEstado {
  font-size: 16px;
  font-weight: bold;
}