<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogstashAppender" type="Unir.Appenders.LogstashAppender, Unir.LogstashAppender">
    <applicationName value="ExpedientesAcademicos"/>
    <remoteAddress value="elktest.unir.net"/>
    <remotePort value="3530"/>
  </appender>
  
  <root>
    <level value="DEBUG" />
    <appender-ref ref="LogstashAppender" />
  </root>
</log4net>