<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogstashAppender" type="Unir.Appenders.LogstashAppender, Unir.LogstashAppender">
    <applicationName value="ExpedientesAcademicos"/>
    <remoteAddress value="acm-logstash.unir.cloud"/>
    <remotePort value="3535"/>
  </appender>
  
  <root>
    <level value="WARN" />
    <appender-ref ref="LogstashAppender" />
  </root>
</log4net>